:root {
    --frontcolor: #ed7e50;
    --backcolor: #478386;
}

.navparent {
    display: block;
    height: 80px;
    background: var(--backcolor);
    text-align: left;
    display: flex;
    align-items: center;
    & button {
            background: none;
            border: none;
            padding: 0;
            cursor: pointer;
    }
    & img {
        height: 80px;
        display: inline-flex;
    }

    & cont {
        display: inline-flex;


        & a {
            text-align: center;
            color: white;
            display: inline-block;
            width: 40px;
            line-height: 60px;

            &:hover{
                display: inline-block;
                color: var(--frontcolor);

            }
            &.active {
                border-top-left-radius: 30px;
                border-top-right-radius: 30px;
                border-bottom-right-radius: 30px;
                border-bottom-left-radius: 30px;
                display: inline-block;
                height: 30px;
                width: 30px;
                line-height: 30px;
                color: var(--backcolor);
                background: var(--frontcolor);
            }
        }
    }


}
