.horizontal-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: white;
    /*padding: 20px;*/
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    height: 300px;
    width: 80%;
    margin: 10% auto;
}


.horizontal-card .card-image {
}

.horizontal-card .card-image img {
    /*width: auto; !* Adjust this value as needed *!*/
    /*height: auto; !* This will maintain the aspect ratio of the image *!*/
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
}

.horizontal-card .card-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


