#search {
    grid-area: search;
    position: relative;
    overflow: hidden;

    & > #background-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    & > #search-card {
        display: grid;
        grid-template-areas:
            "destination from-date to-date person submit";
        grid-template-columns: 26% 22% 22% 10% 20%;
        justify-content: center;
        text-align: center;
        margin: 1% auto;
        padding: 5px 20px;
        border-radius: 10px;
        color: white;
        background-color: rgba(71, 131, 134, 0.7);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        width: fit-content;

        & label {
            opacity: 1;
            display: block;
            text-align: left;
            font-size: 20px;
            font-weight: bold;
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
        }

        & > #destination {
            grid-area: destination;
        }

        & > #from-date {
            grid-area: from-date;
        }

        & > #to-date {
            grid-area: to-date;
        }

        & > #person-amount {
            grid-area: person;
        }

        & > .search-input {
            padding: 10px;
        }

        & > .submit {
            grid-area: submit;

            display: flex;
            justify-content: center;
            margin: auto auto 10px;
            padding-left: 10px;

            & > button {
                padding-left: 12px;
                padding-right: 12px;
                margin-bottom: 1px;
                min-height: 2.5rem;
                height: fit-content;
                max-height: 100%;
            }
        }
    }
}

.headline {
    font-size: 25px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;

    & h2 {
        margin-top: 10px;
        margin-bottom: 20px;
        padding-top: 0;
        padding-bottom: 0;
    }

    & button {
        background-color: transparent;
        border: none;
        padding: 2px;
        font-size: 2rem;
        cursor: pointer;
        color: black;

        &:hover {
            color: var(--color-secondary-4);
        }

        &:disabled {
            color: var(--color-secondary-1);
            cursor: not-allowed;
        }

        &:focus {
            outline: none;
            color: var(--color-secondary);
            padding: 0;
            border: 2px solid var(--color-secondary-4);
            border-radius: 5px;
        }
    }

    & button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    & i {
        margin: auto 10px;
    }
}


#layout {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas:
        "filters results";
    max-width: 1920px;
    margin: auto;

    & > #filter {
        grid-area: filters;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        & .collapse-content {
            display: flex;
            flex-direction: row;
            justify-content: center;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
            width: 100%;

            & .filter-card {
                background-color: white;
                padding: 20px;
                border: 2px !important;
                border-radius: 10px;
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
                width: 230px;
                margin-top: 5px;
                margin-bottom: 5px;

                & h3 {
                    margin-bottom: 2px;
                    margin-top: 2px;
                }
            }

            & #tags > #tag-grid {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                margin: 5px auto 0;

                & .input-icon {
                    position: relative;
                    width: 100%;
                    display: inline-block;


                    & > input {
                        margin-top: 10px;
                        padding-left: 30px;
                    }

                    & > .icon {
                        position: absolute;
                        left: 10px;
                        top: 60%;
                        transform: translateY(-50%);
                    }
                }

                .tag-pill {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: var(--color-secondary);
                    color: #fff;
                    padding: 5px 10px;
                    border-radius: 10px;
                    transition: all 0.3s ease;
                    min-width: 30px;
                    cursor: pointer;
                    margin: 5px 2px 2px;

                    & .tag-text {
                        display: inline-block;
                    }

                    & .delete-text {
                        display: none;
                        color: #fff;
                    }

                    &:hover, &:focus {
                        background-color: var(--color-secondary-3);

                        & .delete-text {
                            margin-left: 8px;
                            display: block;
                        }
                    }
                }
            }

            & .feature-select-list {
                display: flex;
                flex-direction: column;
                position: relative;
                padding: 0 1rem;

                & .feature-select {
                    font-size: 16px;
                    display: flex;
                    align-items: center;
                }
            }

            & .feature-select-list::after {
                content: "";
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                height: 180px;
                border-right: 1px solid #000;
            }

            & .feature-select-list:last-child::after {
                border-right: none;
            }

        }

    }

    & > #results {
        grid-area: results;

        & > .headline {
            font-size: 25px;
            font-weight: bold;
            display: flex;
            flex-direction: row;
            justify-content: center;

            & h2 {
                margin-top: 10px;
                margin-bottom: 20px;
                padding-top: 0;
                padding-bottom: 0;

                & .result-stats {
                    font-size: 0.6em;
                }
            }
        }

        & > .result {
            display: flex;
            flex-direction: row;
            justify-content: center;

            & > .result-card {
                max-height: 250px;
                height: 250px;
                max-width: 1200px;
                width: 1200px;

                cursor: pointer;

                background-color: white;
                border-radius: 10px;
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
                margin: 0 auto 2%;

                display: flex;
                flex-direction: row;

                & > .card-image {
                    flex: 30%;

                    & img {
                        border-top-left-radius: 5px;
                        border-bottom-left-radius: 5px;

                        max-width: 100%;
                        min-width: 100%;
                        max-height: 100%;
                        min-height: 100%;
                        object-fit: cover;
                    }
                }

                & .information {
                    flex: 70%;

                    display: flex;
                    flex-direction: column;

                    margin-left: 10px;
                    margin-right: 10px;

                    & > .sub-headline {
                        font-weight: bold;
                        margin-left: 20px;
                        margin-right: 20px;
                    }

                    & .details {
                        display: grid;
                        grid-template-areas:
                            "price city"
                            "max-person street"
                            "square-meter submit"
                            "room-count submit";
                        grid-template-columns: 50% 50%;


                        & .price {
                            grid-area: price;
                        }

                        & .city {
                            grid-area: city;
                        }

                        & .max-person {
                            grid-area: max-person;
                        }

                        & .street {
                            grid-area: street;

                            & > hr {
                                display: none;
                            }
                        }

                        & .square-meter {
                            grid-area: square-meter;
                        }

                        & .room-count {
                            grid-area: room-count;

                            & > hr {
                                display: none;
                            }
                        }

                        & .submit {
                            margin-top: 20px;
                            grid-area: submit;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;

                            & > button {
                                width: 50%;
                                height: 80%;
                            }
                        }

                        & .detail {
                            margin-left: 20px;
                            margin-right: 20px;

                            & .text {
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                width: 100%;
                                margin-top: 7px;
                                margin-bottom: 7px;

                                & > .value {
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }
            }
        }


    }
}

/* XXL 1400px - 1600px */
@media (max-width: 1600px) {
    /*    reduce result card width */
    #layout {
        grid-template-columns: 25% 75%;

        & > #results > .result > .result-card {
            width: 1000px;

            & .information .details {
                grid-template-columns: 40% 60%;
            }
        }
    }
}

/* XL 1200px - 1400px */
@media (max-width: 1400px) {
    #layout {
        grid-template-columns: 25% 75%;
    }

    #layout > #results > .result > .result-card {
        width: 800px;

    }
}

/* XL 992px - 1200px */
@media (max-width: 1200px) {
    #search > #search-card {
        padding-left: 5px;
        padding-right: 5px;
    }

    #layout {
        grid-template-columns: 35% 65%;

        & > #results > .result > .result-card {
            max-height: 600px;
            height: 600px;
            max-width: 600px;
            width: 600px;
            flex-direction: column;

            & > .card-image {
                flex: 50%;

                max-height: 300px;
                height: 300px;

                & > img {
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    border-bottom-left-radius: 0;
                }
            }

            & .information .details {
                grid-template-columns: 45% 55%;
            }
        }
    }
}

/* Medium 768px - 992px*/
@media (max-width: 992px) {
    #search > #search-card {
        grid-template-areas:
                        "destination destination destination person"
                        "from-date from-date to-date to-date"
                        "submit submit submit submit";
        grid-template-rows: 33% 33% 34%;
        grid-template-columns: 25% 25% 25% 25%;
    }

    #layout {
        grid-template-columns: 40% 60%;

        & > #results > .result > .result-card {
            max-height: 800px;
            height: 700px;
            max-width: 400px;
            width: 400px;
            flex-direction: column;

            & > .card-image {
                flex: 50%;

                max-height: 300px;
                height: 300px;

                & > img {
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    border-bottom-left-radius: 0;
                }
            }

            & .information .details {
                grid-template-areas:
                            "price"
                            "city"
                            "street"
                            "max-person"
                            "square-meter"
                            "room-count"
                            "submit";
                grid-template-columns: 100%;

                & .street > hr {
                    display: inherit;
                }
            }

            & .submit > button {
                width: 80%;
                height: 100%;
            }
        }

    }
}


/* Small 576px - 768px */
@media (max-width: 768px) {
    #layout {
        grid-template-columns: 100%;
        grid-template-areas:
        "filters"
        "results";

        & > #filter .filter-list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 1rem;

            .filter-card {
                width: 200px
            }
        }

        & > #results > .result > .result-card {
            max-width: 500px;
            width: 500px;
        }
    }
}


/* Mobile */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3) {
    #search {
        width: 100%;
        margin: auto;

        & > #search-card {

            width: 80%;
            margin: 5% auto;
            grid-template-columns: 35% 15% 15% 35%;

            & #search-button {
                width: 100%;

                & > button {
                    margin-top: 40px !important;
                    margin-bottom: 40px !important;
                    width: 90%;
                }
            }
        }
    }

    #layout {
        & > #filter {
            .filter-list {
                display: flex;
                flex-direction: column;
            }
        }

        & > #results > .result > .result-card {
            max-width: 90%;
            width: 90%;
            height: 750px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}
